
<div style="width: 25%; float: left;"class="col-md-6 text-center">
    <div><a href="/newlab"> <button type="button" id="doc" onclick="lode_newlab()"  class="btn btn-success">NEW LAB</button></a><BR></BR> </div>
    <div><a href="/updatelab"><button type="button" class="btn btn-primary"  >UPDATE</button></a><BR></BR></div>
    <div><a href="/entery"><button type="button" class="btn btn-light"  >DAY ENTERY</button></a><BR></BR></div>
    <div><a href="/viewlab"><button type="button" onclick="lode_view()" class="btn btn-info"  >VIEW</button></a><BR></BR></div>
    <div><a href="/reglab"><button type="button" onclick="lode_log()"class="btn btn-warning"  >REGISTER DETAILES</button></a><BR></BR></div>
</div>

