<%- layout("boiler")-%>
<div>
    <%- include("nav")-%>
<div class="container-fluid ">
    <div class="row">
        <div style="width: 25%; float: left;">
                <%- include("admintemp")-%>
        </div>
            <div style="width: 75%;float: right;">
        <h1 class="contantpage">WELCOME TO BACK !!!</h1>
        
    </div>


</div>