<%- layout("boiler")-%>
    <div style="margin-top: 10px;">
        <h2 style="text-align: center;">College Management System</h2>
    </div>
    <div>
        <a href="/admin/loginn">Admin login </a>
        <a href="/user/loginn">user login </a>
    </div>