<%- layout("boiler")-%>
    <div style="margin-top: 10px;">
        <h2 style="text-align: center;">College Management System</h2>
    </div>
    <%- include("nav")-%>
        <div>
            <p>home</p>
        </div>