<nav class="navbar navbar-inverse" style="background-color:grey;">
    <ul class="nav navbar-nav">
    <li class="active" >
        <a href="/">HOME</a>
    </li>
    <li >
        <a  href="/newlab">New lab</a>
    </li>
    <li>
        <a  href="/updatelab">Update</a>
    </li>
    <li >
        <a  href="viewlab">view</a>
    </li>
    <li >
        <a href="/reglab">Register details</a>
    </li>
    
    
    </ul>  
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
</nav>