<%- layout("boiler")-%>
<div>
    <%- include("nav")-%>
<div class="row">
    <div class="col-4 ">
        <%- include("admintemp")-%>
<p>ff</p>
    </div>
    <div class="col-8" style="float:right;">
        <p>reg lab</p>
    </div>


</div>