
<div style="width: 25%; float: left;padding-left: 5%;"><h1 style="padding-left: 5%; color:blueviolet; text-decoration: underline;">USER CAN</h1>
    <div><a href="/user/reg"> <button type="button" id="doc"  class="btn btn-primary">New Resiter</button></a><BR></BR> </div>
    <div><a href="/myreg"><button type="button" class="btn btn-success"  >My regester</button></a><BR></BR></div>
    <div><a href="/avalablelab"><button type="button" onclick="lode_view()" class="btn btn-dark"  >lab view</button></a><BR></BR></div>
    <div><a href="/ureglab"><button type="button" onclick="lode_log()"class="btn btn-warning"  >REGISTER DETAILES</button></a><BR></BR></div>
</div>
 
