
<%- layout("boiler")-%>

<div  style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
height: 100vh">>
    <%- include("nav")-%>

    <div class="topbar">
        <div class="col-3">

        </div>
      
            <form >
                <input class="form-group" type="text" placeholder="User email" name="fuser" style="margin-left:25% ;margin-top: 10%;font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br>
                <input type="password"placeholder="Enter Password" name="fpass"style="margin-left:25% ;margin-top: 5%;font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br>
                <select name="ftype" placeholder="Select a Type" id=""style="margin-left:25% ;margin-top: 5%;font-size: large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><br>
                    <option value="faculty">Faculty</option>
                    <option value="student">Student</option>
                </select>
                <br> 
                <button formmethod="post" formaction="/user/login" style="margin-left:25% ;margin-top: 10%;" class="btn btn-success">click</button>
            </form>


        </div>
    </div>
</div>
    